/* .one div{
    background-color: aqua;
}
.three h1{
    background-color: brown;
} */   
/* .four ~ p{
    background-color: blue;
}

div{
    border: 1px solid ;
}
.hello{
    background-color: blue;
}
.hello:hover{
    cursor: pointer;
    background-color: blueviolet;
}
